<html>
<head>
</head>
<body>
{{#state.message}}
message: {{state.message}}
{{/state.message}}

<input type="hidden" name="return_url" value="{{state.return_url}}">
{{!-- these two fields are critical to include --}}
<input type="hidden" name="initial_state_json" value="{{initial_state_json}}">
<input type="hidden" name="state_json" value="{{state_json}}">
<input type="submit" name="submit_login" value="Login">
</form>
</body>
</html>


